@font-face {
	font-family: "space-grotesk";
	src: url("https://cortez.link/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "space-grotesk";
	src: url("https://cortez.link/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "space-grotesk";
	src: url("https://cortez.link/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf");
	font-weight: 500;
}

:root {
	--font: #FFFFFF;
  --bg: #000;
  --gray: #2C2C2E;
  --gray2: #636366;
  --accent: #F5B82E;
  --alert: #FF4015;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

* {
  font-family: "space-grotesk";
  font-size: 100%;
}

html,
body {
  margin: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  color: var(--font);
  background: var(--bg);
}

html::-webkit-scrollbar {
  width: 0 !important;
}

.banner-image {
  top: 1vh;
  width: 96vw;
  left: 2vw;
  position: absolute;
}

#__next-build-watcher {
  display: none;
}

.user-message {
  color: var(--alert);
  display: block;
  margin: -9vh 0 3vh -5px;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 1.6em;
  margin-top: 15vh;
  font-weight: 500;
  text-align: center;
}

.hero-header {
  width: 50vw;
  margin: 29vh 25vw 15vh 25vw;
  font-size: 2.25em;
}

.create-header {
  margin-bottom: 15vh;
}

.total-value {
  font-size: 50px;
  margin: 0.5vh 0 16vh 0;
}

h2 {
  color: var(--gray2);
  padding-top: 15vh;
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.logo {
  top: 10px;
  left: 10px;
  height: 45px;
  position: absolute;
}

.copy-button, .back-button {
  top: 10px;
  position: absolute;
  padding: 11.25px 15px;
  background: none;
}

.back-button {
  left: 10px;
  color: var(--alert);
  border: 1px solid var(--alert);
}

.copy-button {
  right: 10px;
  color: var(--font);
  border: 1px solid var(--font);
}

p {
  margin: 0;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  font-weight: 500;
}

.username-input-text {
  text-align: center;
  margin: 10vh 0 10vh 0;
}

input {
  font-weight: 400;
}

input, button {
  border: none;
}

@keyframes fadeInAnimation {
  0% {
      scale: 0.9;
  }
  100% {
      scale: 1;
   }
}

.shrink, input {
  transition: all 0.2s ease-in-out;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.shrink:hover, input:hover {
  transform: scale(0.97);
}

.shrink:after, .shrink:active:after {
  transform: scale(0.87);
}

.username-input, input:focus, .create-input, .big-button, .small-button, .back-button, .copy-button, .crypto-amount, .crypto-symbol {
  border-radius: 48px !important;
}

.username-input {
  color: var(--accent);
  background-color: var(--gray);
  width: 160px;
  padding: 15px 30px;
  outline-offset: -10px;
}

.username-input:focus {
  outline: none;
  overflow: hidden;
  border: none;
  caret-color: var(--accent);
  color: var(--accent);
}

.create-input {
  outline: none;
  border: 1px solid var(--gray);
  color: var(--accent);
  width: 46vw;
  background-color: var(--bg);
  padding: 2vw;
  margin: 0 0 1% 25vw;
}

.create-input:focus::placeholder {
  color: transparent;
}

.create-input:focus {
  outline: none;
  border: 1px solid var(--accent);
  caret-color: var(--accent);
  color: var(--accent);
}

.crypto-amount {
  width: 30vw;
  display: inline;
}

.crypto-symbol {
  width: 11vw;
  display: inline;
  margin: 0 0 1% 1vw;
}

.username-input:focus::placeholder {
  color: transparent;
}

.error-page {
  margin: 38vh 0 5vh 0 !important;
}

.center-button {
  width: fit-content !important;
  display: grid !important;
  margin: auto !important;
}

.hero-button {
  bottom: 27vh;
}

.big-button {
  outline: none;
  font-weight: 500;
  text-align: center;
  padding: 15px 30px;
  color: var(--bg);
  background: var(--font);
  width: 120px;
  margin-left: 5px;
}

.big-button:hover, .copy-button:hover, .back-button:hover {
  cursor: pointer;
}

.small-button {
  color: var(--bg);
  display: table;
  margin: 0 auto 10vh auto;
  background: var(--font);
  font-weight: 500;
  padding: 10px 20px;
  outline: none;
}

.small-button:hover {
  cursor: pointer;
}

.holding {
    color: var(--font);
    font-weight: 500;
    margin-left: 5vw;
    width: 90vw;
    /* background-color: var(--gray); */
    border-top: 1px solid var(--gray);
    padding: 2% 0 2% 0;
}

.holding span {
  float: right;
}

.percent {
  color: var(--accent);
  font-weight: 400;
}

@media screen and (max-width:1000px) {
  .banner-image {
    top: 1vh;
    width: 100%;
    left: 0;
  }

	h1 {
    margin-bottom: 10vh !important;
  }

  .hero-header {
    width: 95vw;
    margin: 19vh 2.5vw 15vh 2.5vw;
    font-size: 1.7em;
  }

  .user-message {
    margin-left: 0;
    position: absolute;
    bottom: -16vh !important;
    width: 100vw;
    text-align: center;
  }

  .username-input-text {
    margin: 9vh 0 9vh 0;
  }

  .hero-button {
    bottom: 5vh;
    margin: 0 0 10px 20.5px;
  }

  .big-button {
    margin-top: 10px;
  }

  .total-value {
    font-size: 40px;
    margin-bottom: 15vh !important;
  }

  .holding {
    margin-left: 5vw;
    width: 90vw;
    padding: 5% 0 5% 0;
  }

  .small-button {
    margin: 1vh auto 5vh auto;
  }

  .create-header {
    margin-bottom: 12vh;
  }

  .create-input {
    width: 80vw;
    padding: 5vw;
    margin: 5px 5vw 1% 5vw;
  }

  .crypto-amount {
    width: 40vw;
    display: inline;
    margin-right: 0;
  }
  
  .crypto-symbol {
    width: 26vw;
    display: inline;
    margin: 0 5vw 1% 10px;
  }
}