:root {
	--font: #ffffff;
  --bg: #000000;
  --gray: #1c1c1e;
  --gray2: #757575;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ffffff;
    background: #000000;
  }
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  overflow: auto;
  height: 100%;
  margin: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  color: var(--font);
  background: var(--bg);
}

html::-webkit-scrollbar {
  width: 0 !important;
}

.iphone-image {
  position: absolute;
  top: 20vh;
  right: 16vw;
  width: 250px;
}

.iphone-image-mobile {
  display: none;
}

.logo {
  height: 25px;
  width: 25px;
}

#__next-build-watcher {
  display: none;
}

.user-message {
  color: #F3502F;
  font-weight: 400;
  display: block;
  margin: 1vh 0 0 113px;
  text-align: center;
  width: fit-content;
}

.hero-header {
  margin-left: 16vw;
  width: 40vw;
  margin-top: 38vh;
}

h1 {
  font-size: 235% !important;
  font-weight: 500 !important;
}

.create-header {
  text-align: center;
  margin: 20vh 0 15vh 0;
  font-size: 160%;
}

.total-value {
  margin: 12% 0 !important;
  text-align: center;
}

.total-value div {
  font-weight: 500;
  font-size: 38px;
}

.hide-button {
  display: block !important;
  margin: auto !important;
  margin-top: 8px !important;
  cursor: pointer !important;
  background-color: var(--bg);
}

.hide-button img {
  height: 28px !important;
}

.logo-wrapper {
  left: 10px !important;
  width: 80px !important;
  background-color: transparent !important;
}

.word-mark {
  line-height: 25px !important;
  margin-left: 7px !important;
  position: absolute !important;
  display: inline !important;
  color: var(--font) !important;
  background-color: transparent !important;
}

.copy-button, .back-button {
  top: 10px;
  position: absolute;
  padding: 11.25px 15px;
  background: none;
  font-weight: 500;
}

.back-button {
  left: 10px;
  color: var(--font);
  background-color: var(--gray);
}

.copy-button {
  right: 10px;
  color: var(--bg);
  background-color: var(--font);
}

p {
  margin: 0;
}

a {
  color: var(--gray2);
  text-decoration: none;
}

.username-input-text {
  margin-top: 4vh;
}

.username-input-text span {
  font-size: 100%;
}

input, button {
  border: none;
}

input, .link-text {
  font-weight: 400;
}

.link-text {
  margin-left: 5px;
}

input {
  background: var(--bg);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

@keyframes fadeInAnimation {
  0% {
      scale: 0.9;
  }
  100% {
      scale: 1;
   }
}

.shrink, input {
  transition: all 0.2s ease-in-out;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.shrink:hover, input:hover {
  transform: scale(0.97);
}

.shrink:after, .shrink:active:after {
  transform: scale(0.87);
}

.username-input, input:focus, .create-input, .big-button, .small-button, .back-button, .copy-button, .crypto-amount, .crypto-symbol, .total-container, .percent, h2, .hide-button {
  border-radius: 48px !important;
}

.username-input {
  color: var(--gray2);
  border: 2px solid var(--gray);
  width: 100px;
  padding: 15px 20px;
  outline-offset: -10px;
}

input::-webkit-input-placeholder{
  color:var(--gray2);
}
input:-moz-placeholder {
  color:var(--gray2);
}

.username-input:focus {
  outline: none;
  overflow: hidden;
  border: none;
  caret-color: var(--gray2);
  color: var(--font);
}

.create-input {
  outline: none;
  color: var(--gray2);
  width: 46vw;
  border: 2px solid var(--gray);
  padding: 2vw;
  margin: 0 0 1% 25vw;
}

.create-input:focus::placeholder {
  color: transparent;
}

.create-input:focus {
  outline: none;
  border: 2px solid var(--gray);
  caret-color: var(--gray2);
  color: var(--font);
}

input:focus {
  border: 2px solid #9A91F5 !important;
  background-color: rgb(36,32,62,0.5) !important;
}

.crypto-amount {
  width: 30vw;
  display: inline;
}

.crypto-symbol {
  width: 11vw;
  display: inline;
  margin: 0 0 1% 1vw;
}

.username-input:focus::placeholder {
  color: transparent;
}

.error-page {
  text-align: center;
  margin: 38vh 0 5vh 0 !important;
}

.center-button {
  width: fit-content !important;
  display: grid !important;
  margin: auto !important;
}

.hero-button {
  width: 85px !important;
  bottom: 27vh;
  border: 2px solid var(--gray);
}

.big-button {
  outline: none;
  text-align: center;
  padding: 15px 30px;
  color: var(--font);
  background: var(--gray);
  width: 120px;
  margin-left: 5px;
  font-weight: 500;
}

.big-button:hover, .copy-button:hover, .back-button:hover {
  cursor: pointer;
}

.small-button {
  color: var(--font);
  display: table;
  margin: 0 auto 10vh auto;
  background: var(--gray);
  padding: 10px 20px;
  outline: none;
  font-weight: 500;
}

.small-button:hover {
  cursor: pointer;
}

.holding {
    color: var(--font);
    margin-left: 5vw;
    width: 90vw;
    /* background-color: var(--gray); */
    border-top: 2px solid var(--gray);
    padding: 2% 0 2% 0;
}

.holding span {
  float: right;
}

.percent {
  color: #9A91F5;
  padding: 8.4375px 11.25px;
  background-color: #24203E;
  margin-top: -8.4375px;
}

@media screen and (max-width:1000px) {  
  .iphone-image {
    display: none;
  }

  .iphone-image-mobile {
    position: absolute;
    display: block;
    bottom: 0;
    margin: 0 35vw;
    width: 30vw;
  }

	h1 {
    margin-bottom: 10vh !important;
  }

  .hero-header {
    margin-left: 15vw;
    width: 70vw;
    margin-top: 14vh;
  }

  .hero-header h1 {
    font-size: 1.8em;
  }

  .user-message {
    margin: 1.5vh 0 0 7px;
  }

  .username-input-text {
    margin-top: -7.5vh;
  }

  .hero-button {
    bottom: 5vh;
    margin: auto 5px;
  }

  .big-button {
    margin-top: 10px;
  }

  .logo-wrapper {
    padding: 10px;
  }

  .total-value {
    margin: 20vh 0 10vh 0 !important;
  }

  .holding {
    margin-left: 5vw;
    width: 90vw;
    padding: 7% 0 7% 0;
  }

  .small-button {
    margin: 1vh auto 5vh auto;
  }

  .create-header {
    width: 96vw !important;
    margin: 18vh 2vw 15vh 2vw;
    font-size: 130%;
  }

  .create-input {
    width: 79vw;
    padding: 5vw;
    margin: 5px 5vw 1% 4vw;
  }

  .crypto-amount {
    width: 40vw;
    display: inline;
    margin-right: 0;
  }
  
  .crypto-symbol {
    width: 26vw;
    display: inline;
    margin: 0 5vw 1% 7px;
  }
}

@media screen and (min-width:1500px) {
  .iphone-image {
    top: 23vh !important;
  }

  .hero-header {
    width: 30vw;
  }
}

@media screen and (max-width:550px) {  
  .link-text {
    display: none;
  }
}

@media screen and (max-width:425px) {  
  .iphone-image-mobile {
    position: absolute;
    display: block;
    bottom: 0;
    margin: 0 20vw;
    width: 60vw;
  }

  .hero-header {
    width: 90vw;
    margin: 14vh 5vw 0 5vw;
  }
}

@media screen and (max-height:600px) {  
  .iphone-image-mobile {
    display: none;
  }
}