:root {
	--font: #121212;
  --bg: #F6F7F1;
  --gray: #E9EAE4;
  --gray2: #BFC0BB;
  --red: #F3502F;
  --red2: #F6EBE3;
  --blue: #3667F6;
  --blue2: #DCE3F3;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  font-weight: 500;
}

html,
body {
  overflow: auto;
  height: 100%;
  margin: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  color: var(--font);
  background: var(--bg);
}

html::-webkit-scrollbar {
  width: 0 !important;
}

.banner-image {
  top: -42vh;
  width: 92vw;
  left: 4vw;
  position: absolute;
  z-index: 0;
}

.iphone-image {
  display: block;
  width: 200px;
  margin: 11vh auto 0vh auto;
}

#__next-build-watcher {
  display: none;
}

.user-message {
  color: var(--red);
  display: block;
  margin: -9vh 0 3vh -20px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  font-weight: 600 !important;
  margin-top: 13vh;
  text-align: center;
}

.hero-header {
  width: 40vw;
  margin: 7vh 30vw 5vh 30vw;
  font-size: 2em;
}

.create-header {
  margin-bottom: 15vh;
  font-size: 135%;
}

.total-value {
  margin: 10% 0 !important;
}

.total-value div {
  font-weight: 500;
  font-size: 38px;
}

h2 {
  color: var(--blue);
  padding: 11.25px 15px;
  background: var(--blue2);
  width: fit-content;
  margin: -0.25% auto 10% auto;
  text-align: center;
}

.word-mark {
  left: 10px !important;
  width: fit-content !important;
  color: var(--font) !important;
  background-color: transparent !important;
}

.copy-button, .back-button {
  top: 10px;
  position: absolute;
  padding: 11.25px 15px;
  background: none;
  font-weight: 500;
}

.back-button {
  left: 10px;
  color: var(--red);
  background-color: var(--red2);
}

.copy-button {
  right: 10px;
  color: var(--bg);
  background-color: var(--font);
}

p {
  margin: 0;
}

a {
  color: var(--gray2);
  text-decoration: none;
}

.username-input-text {
  text-align: center;
  margin: 5vh 0 10vh 0;
}

.username-input-text span {
  font-size: 100%;
}

input, button {
  border: none;
}

input, .link-text {
  font-weight: 400;
}

.link-text {
  margin-left: 5px;
}

input {
  background: var(--bg);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

@keyframes fadeInAnimation {
  0% {
      scale: 0.9;
  }
  100% {
      scale: 1;
   }
}

.shrink, input {
  transition: all 0.2s ease-in-out;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.shrink:hover, input:hover {
  transform: scale(0.97);
}

.shrink:after, .shrink:active:after {
  transform: scale(0.87);
}

.username-input, input:focus, .create-input, .big-button, .small-button, .back-button, .copy-button, .crypto-amount, .crypto-symbol, .total-container, .percent, h2 {
  border-radius: 48px !important;
}

.username-input {
  color: var(--gray2);
  border: 2px solid var(--gray);
  width: 100px;
  padding: 15px 25px;
  outline-offset: -10px;
}

input::-webkit-input-placeholder{
  color:var(--gray2);
}
input:-moz-placeholder {
  color:var(--gray2);
}

.username-input:focus {
  outline: none;
  overflow: hidden;
  border: none;
  caret-color: var(--gray2);
  color: var(--font);
  border: 2px solid var(--gray);
}

.create-input {
  outline: none;
  color: var(--gray2);
  width: 46vw;
  border: 2px solid var(--gray);
  padding: 2vw;
  margin: 0 0 1% 25vw;
}

.create-input:focus::placeholder {
  color: transparent;
}

.create-input:focus {
  outline: none;
  border: 1px solid var(--gray);
  caret-color: var(--gray2);
  color: var(--font);
}

.crypto-amount {
  width: 30vw;
  display: inline;
}

.crypto-symbol {
  width: 11vw;
  display: inline;
  margin: 0 0 1% 1vw;
}

.username-input:focus::placeholder {
  color: transparent;
}

.error-page {
  margin: 38vh 0 5vh 0 !important;
}

.center-button {
  width: fit-content !important;
  display: grid !important;
  margin: auto !important;
}

.hero-button {
  width: 80px !important;
  bottom: 27vh;
}

.big-button {
  outline: none;
  text-align: center;
  padding: 15px 30px;
  color: var(--font);
  background: var(--gray);
  width: 120px;
  margin-left: 5px;
  font-weight: 500;
}

.big-button:hover, .copy-button:hover, .back-button:hover {
  cursor: pointer;
}

.small-button {
  color: var(--font);
  display: table;
  margin: 0 auto 10vh auto;
  background: var(--gray);
  padding: 10px 20px;
  outline: none;
  font-weight: 500;
}

.small-button:hover {
  cursor: pointer;
}

.holding {
    color: var(--font);
    margin-left: 5vw;
    width: 90vw;
    /* background-color: var(--gray); */
    border-top: 2px solid var(--gray);
    padding: 2% 0 2% 0;
}

.holding span {
  float: right;
}

.percent {
  color: var(--blue);
  padding: 11.25px 15px;
  background-color: var(--blue2);
  margin-top: -11.25px;
}

.wiggle:hover {
  animation: wiggle 2s linear;
  cursor: pointer;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-4.5deg);
  }
  20% {
    transform: rotateZ(3deg);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  30% {
    transform: rotateZ(1.8deg);
  }
  35% {
    transform: rotateZ(-1.2deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

@media screen and (max-width:1000px) {

  .banner-image {
    top: 0px;
    width: 92vw;
    left: 4vw;
  }

  .iphone-image {
    display: block;
    width: 30vw;
    margin: 10vh 35vw 5vh 35vw;
  }

	h1 {
    margin-bottom: 10vh !important;
  }

  .hero-header {
    width: 95vw;
    margin: 6vh 2.5vw 14.5vh 2.5vw;
    font-size: 1.7em;
  }

  .user-message {
    margin-left: 0;
    position: absolute;
    bottom: -7vh !important;
    width: 100vw;
    text-align: center;
  }

  .username-input-text {
    margin-top: -6vh;
  }

  .hero-button {
    bottom: 5vh;
    margin: auto 5px;
  }

  .big-button {
    margin-top: 10px;
  }

  .total-value {
    margin: 18vh 0 16vh 0 !important;
  }

  .holding {
    margin-left: 5vw;
    width: 90vw;
    padding: 7% 0 7% 0;
  }

  .small-button {
    margin: 1vh auto 5vh auto;
  }

  .create-header {
    width: 96vw !important;
    margin: 20vh 2vw 12vh 2vw;
  }

  .create-input {
    width: 80vw;
    padding: 5vw;
    margin: 5px 5vw 1% 5vw;
  }

  .crypto-amount {
    width: 40vw;
    display: inline;
    margin-right: 0;
  }
  
  .crypto-symbol {
    width: 26vw;
    display: inline;
    margin: 0 5vw 1% 7px;
  }
}